body {
  margin: 0;
  background: #363c45;
  font-family: 'Karla'
}

p {
  font-family: 'Raleway'
}

.container {
  background: #F5F5F5;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  margin-top: 10%;
  text-align: center;
  color: #2B283A;

}

.die {
  height: 20px;
  width: 20px;
  background: white;
  box-shadow: #ddd 2px 3px 4px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px;  
}
.die.frozen {
  background: #59E391;
}

.dice {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
}
.row {
  display: inline-flex;
}

button {
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: white;
  border: none;
  height: 35px;
  width: 92px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 3.8127658367156982px;
  
}
